# Terraform cache
.terraform/

# Terraform state files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files (optional/sensitive)
*.tfvars

# macOS files
.DS_Store

# Crash logs
crash.log